* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #14213D;
    --text-color: #fff;
    --main-color: #fca311;
}

html{
    font-size: 60%;
} 

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.logo{
    width: 8rem;
}

.logo:hover{
    transform: scale(1.2);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10% 1rem;
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}   

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.26);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px var(--main-color);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
    padding: 10px;
}

.sidebar a {
    width: 100%;
    color: var(--text-color);
}

.menu-button {
    display: none;
    margin-right: 5px;
}

.logo {
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 1000;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: var(--second-bg-color);
    border-bottom: 3px solid var(--second-bg-color);
}

#iconos-menu{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}

.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.contenido-inicio{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

span{
    color: var(--main-color);
}

.contenido-inicio h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 2.5rem;
}

.contenido-inicio h1{
    font-size: 5rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.contenido-inicio p{
font-size: 1.5rem;
font-weight: 500;
line-height: 1.8;
max-width: 1000px;
}

.img-inicio{
    border-radius: 50%;
}

.img-inicio img{
    position: relative;
    top: 3rem;
    width: 32vw;
    border-radius: 50%;
}

.redes-sociales a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.redes-sociales a:hover{
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}

.boton{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 5px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.boton:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}

.botones{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.botones a:nth-of-type(1){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}

.botones a:nth-of-type(1):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

.botones a:nth-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}

.botones a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

.footer {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    padding: 5px 0;
    background: var(--second-bg-color);
    box-sizing: border-box; 
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    flex: 1;
    max-width: calc(100% - 60px); 
}

.footer .copyright {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    margin-right: 20px;
}

.logo-uade {
    height: auto;
    width: 150px;
    margin-left: 20px;
}

.servicios-section {
    text-align: center;
    margin-top: 4vw;
}
.servicios-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.servicios-titulo h1 {
    font-size: 5rem;
    color: var(--main-color);
}

.servicios-titulo h2 {
    margin: 10px;
    font-size: 25px;
}

.servicios-titulo h3 {
    font-size: 20px;
}

.servicios {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 15px;
}

.servicio-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid rgba(238, 238, 238, 0.3);
    border-radius: 2rem;
    min-height: 350px;
    max-width: 400px;
    padding: 20px 40px;
}

.servicio-block h3 {
    display: flex;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: var(--main-color);
}

.servicio-block img {
    position: relative;
    width: 22vw;
    border-radius: 15%;
    gap: 70px;
    justify-content: center;  
}

.servicio-block p {
    margin-top: 15px;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    
}
.servicios-texto {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
    gap: 15px;
}

.servicios-texto p {
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid rgba(238, 238, 238, 0.3);
    border-radius: 2rem;
    padding: 20px 40px;
    justify-content: space-evenly;
}

.colored {
    color: var(--main-color);
}

.heading{
    font-size: 6rem;
    text-align: center;
    margin: 5rem 0;
}

.nosotros{
    background-color: var(--bg-color);
}

.caja-nosotros{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.caja-nosotros img{
    width: 15rem;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

.columnas{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
}

.item-nosotros{
    min-height: 550px;
    max-width: 440px;
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid rgba(238, 238, 238, 0.3);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: white;
    transition: 0.4s ease-in-out;
}

.item-nosotros:hover{
    border: 3px solid var(--main-color);
    transform: translateY(-10px)scale(1.03);
    box-shadow: 0 0 50px var(--main-color);
}

.item-nosotros h2{
    font-size: 2.8rem;
}

.conacto{
    background-color: var(--bg-color);
}

.contacto h2{
    margin-bottom: 3rem;
    color: white;
}

.contacto form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}

.contacto form .input-group{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contacto form .input-group input, .contacto form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}

.contacto form .boton{
    margin-top: 2rem;
}

.mapa{
    margin-top: -25rem;
}

.mapa-contenido {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.map-container iframe {
    width: 600px;
    height: 450px;
}

.mapa p {
    padding-left: 3.5rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.soporte p{
    font-size: 40px;
    text-align: center;
    padding: auto;
}
.asistencia{
    background-color: var(--bg-color);
}


@media (max-width: 400px) {
    html {
        font-size: 50%;
    }

    .logo {
        font-size: 2rem; 
    }

    #iconos-menu {
        display: block; 
    }

    .nav {
        display: none; 
    }

    section {
        padding: 8rem 5%;
    }

    .contenido-inicio h1 {
        font-size: 3rem;

    .contenido-inicio h3 {
        font-size: 1.8rem; 
    }

    .contenido-inicio p {
        font-size: 1.3rem; 
    }

    .img-inicio img {
        width: 50vw; 
    }

    .botones {
        flex-direction: column;
    }

    .boton {
        font-size: 1.2rem;
    }

    .nosotros {
        gap: 2rem;
    }

    .img-nosotros img {
        width: 60vw;
    }

    .contenido-nosotros h1 {
        font-size: 2rem;
    }

    .footer {
        padding: 2rem 0;
    }

    .footer ul li {
        padding: 0 10px;
    }

    }
    .servicios-titulo{
        display: flex;
        flex-direction: column;
    }
    
    .servicios {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .servicio-block {
        width: 100%;
    }

    .servicios-texto {
        flex-direction: column;
        gap: 10px;
    }

    .menu-button{
        display: block;
    }
    nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        padding: 1rem solid;
    }

    .sidebar{
        width: 100%;
    }

}

.asistencia{
    background-color: var(--bg-color);
}

.asistencia .container{
    background-color: #fca311;
    color: var(--text-color);
    border-radius: 1rem;
    padding: 2rem;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
}

.asistencia .container .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
}

.asistencia .container .bar{
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1rem;
    background: var(--bg-color);
    transition: 0.3s ease;
    cursor: pointer;
}

.asistencia .container .bar:hover{
    box-shadow: 0 4px 10px var(--text-color);
    transform: scale(1.03);
}

.asistencia .container .bar .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.asistencia .container .bar .iconos{
    max-width: 70%;
    height: auto;
    display: block;
}

.asistencia .container .bar .info span{
  font-size: 2rem;
  font-weight: 500;
  margin-left: 0.5rem;
}

.biografia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 12%;
    flex-wrap: wrap; /* Para que sea responsive */
}

.heading {
    text-align: center;
    width: 100%;
}

.contenido-bio {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido-bio h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.contenido-bio p {
    font-size: 1.8rem;
    line-height: 1.6;
    max-width: 80%;
    margin-bottom: 2rem;
}

.img-bio {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.img-bio img {
    width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
}

.descripcion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 12%;
    flex-wrap: wrap; /* Para que sea responsive */
}

.header {
    text-align: center;
    width: 100%;
}

.contenido-des {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido-des h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.contenido-des p {
    font-size: 15px;
    line-height: 1.6;
    max-width: 80%;
    margin-bottom: 2rem;
}

.img-des {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.img-des img {
    width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
}

.tercero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 12%;
    flex-wrap: wrap; /* Para que sea responsive */
}

.heading {
    text-align: center;
    width: 100%;
}

.contenido-ter {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido-ter h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.contenido-ter p {
    font-size: 1.8rem;
    line-height: 1.6;
    max-width: 80%;
    margin-bottom: 2rem;
}

.img-ter {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.img-ter img {
    width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
}
